* { padding: 0; margin: 0; box-sizing: border-box; }
.header { width: 100%; display: flex; height: 9.5em; background-color: #ffffff; }
.header-right ul { display: flex; margin: 1em; margin-left: 23em; }
.header-right ul li, .header-right ul li a { 
    text-decoration: none; 
    margin: 1em; 
    list-style-type: none; 
    padding-top: 1.6em; 
    font-size: 1.15em; 
    color: rgb(52, 216, 52); 
    cursor: pointer;
}
.header-right ul li:hover, .header-right ul li a:hover { color: rgb(4, 70, 4); }
.logo img { width: 70%; height: 7em; margin-left: 2em; padding-top: 1em; }

.sliding-news { 
    height: 100em; 
    background-image: url("./Images/kk1.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    transition: all 0.5s ease;
}
.main-content { 
    height: auto; 
    margin-left: 2em; 
    width: 95%; 
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 1em; 
    display: none; /* hidden initially */
}
.announcement { 
    border: 1px solid #ccc; 
    margin-bottom: 1em; 
    padding: 1em; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
}
.slider { 
    position: relative; 
    margin: auto; 
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.9); 
    overflow: hidden; 
    margin-top: 2em;
}
.slides { display: flex; transition: transform 0.5s ease; }
.slide { display: flex; min-width: 100%; box-sizing: border-box; text-align: center; }
.slide p { font-size: 1.4em; }
.slide img { margin-left: 2em; width: 42%; height: auto; }
.nav { 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background-color: rgba(12, 238, 42, 0.9); 
    color: white; 
    border: none; 
    font-size: 2em; 
    border-radius: 2em; 
    cursor: pointer; 
    padding: 15px; 
    z-index: 1000; 
}
.left { left: 10px; }
.right { right: 10px; }